main {
  text-align: center;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enviarperro {
 width: 60%;
 margin: 0 auto;
}
.enviarperro label {
  margin-top: 15px;
  font-weight: 550;
  font-size: 18px;
}
.enviarperro input {
  background-color: #FDFCFC;
}
.coments {
  width: 100%;
  background-color: #FDFCFC;
}
.asd {
  margin-top: 40px;
}
.radio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
