body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-color:	white;
}
.content {
  text-align: center;
  display: flex;
  flex-direction: row;
  font-family: 'Lato', sans-serif;

}
.inicio {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #E5E7E9;

}
.buscador {
  padding-left: 40px;
  width: 90%;
}
.input-busqueda {
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 70%;
  margin-right: 20px;
  height: 40px;
}
.boton-busqueda {
  background-color: #8B4513;
  margin-top: 10px;
  height: 40px;
  width: 15%;
}
.main-title {
  font-size: 80px;
  padding: 40px;
}
.perros {
  padding-top: 30px;
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.novedades {
  padding: 30px;
  width: 25%;
  text-align: center;
}
.post-perro {
  padding: 20px;
  border: 4px;
  border-color: black;
  border-radius: 3%;
  border-style: solid;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;

}
.form-div {
  width: 30%;
}
.post-perro label{
  display: inline-block;
  width: 85px;
}
.input-perro {
  margin-bottom:8px;
  width: 70%;
}
.boton{

        font-family: 'Lato', sans-serif;
        font-weight:bold;
        color:white;
        background:black;
        border:0px;
        height: 30px;
       }


.perro{
  border-radius:8px;
  display: flex;
  flex-direction: row;
  background-color: #E5E7E9;
  padding: 15px;
  width: 90%;
  margin-bottom: 30px;
}
.datos-perro {
  width: 33%;
  margin-left: 3%;
}
.datos-perro img {
  width: 100%;
  height: 70%;
}

.post-nov {
  border: 4px;
  border-color: black;
  border-radius: 3%;
  border-style: solid;
}
