body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-color:	white;
}
.content {
  text-align: center;
  display: flex;
  flex-direction: row;
  font-family: 'Lato', sans-serif;

}
.inicio {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background-color: #E5E7E9;

}
.buscador {
  padding-left: 40px;
  padding-right: 40px;
}
.input-busqueda {
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 70%;
  margin-right: 20px;
  height: 40px;
}
.main-title {
  font-size: 80px;
  padding: 40px;
}
.miboton {
  color: white;
  text-decoration: none;
  background-color: #5A6DE6;
  border-radius: 3px;
  padding: 10px;
  border-color: #9A4E0C;
  transition: 500ms ease;
  max-width: 100%;
}
.miboton:hover {
  text-decoration: none;
  color: white;
  background-color: #213BE6;
}
.perros {
  width: 75%;
  height: 100%;
  padding: 30px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.novedades {
  padding: 30px;
  width: 25%;
  text-align: center;
}


.post-perro label{
  display: inline-block;
  width: 85px;
}
.boton{
        font-family: 'Lato', sans-serif;
        font-weight:bold;
        color:white;
        background:black;
        border:0px;
        height: 30px;
       }


.perro{
  height: 30%;
  border-radius:8px;
  background-color: #E5E7E9;
  padding: 5px;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}
.ancla{
  margin-top: 10px;
}
.img-perro {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 80%;
  height: 200px;
  border-radius: 3px;
}
.parte-izq {
  max-width: 55%;
  padding: 5px;
}
.parte-der {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-right: : 5px;
  width: 45%;
}
.atributos{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}
.parte-der label {
  display: inline-block;
  width: 55%;
}
.post-nov {
  border: 4px;
  border-color: black;
  border-radius: 3%;
  border-style: solid;
}
